<footer class="footer">
  <div class="attributions">
    <p class="created">Created by <span>{{name}}</span></p>
    <p>This work can be accessed on this
      <a href="https://www.github.com/oloyede-hub">Github</a>
      repository</p>
  </div>
</footer>