<header class="header-content">
    <a href="/">Weather</a>
    <ul class="links">
        <li><a class="link-item" href="/">Weather</a></li>
        <li><a class="link-item" href="/about">About</a></li>
        <li><a class="link-item" href="/help">Help</a></li>
    </ul>
</header>